NODE_API_URL=https://api.chainweb.com
SYNC_BASE_URL="https://api.chainweb.com/chainweb/0.0"

SYNC_MIN_HEIGHT=0
SYNC_FETCH_INTERVAL_IN_BLOCKS=100
SYNC_NETWORK="mainnet01"
KADENA_GRAPHQL_API_URL=localhost
KADENA_GRAPHQL_API_PORT=3001

API_GATEWAY_URL=https://api.mainnet.kadindexer.io

DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=indexer
DB_HOST="YOUR_DB_HOST"
DB_SSL_ENABLED=false